body {
	font-family: "Microsoft YaHei", "arial", "sans-serif";
	background: #333;
}
.logo {
	display: block;
	width: 219px;
	height: 73px;
	background: url('image/logo.gif') no-repeat;
}
.welcome {
	margin-top: 15%;
}